@font-face {
  font-family: "Gilbert";
  src: url("../static/fonts/Gilbert-Bold.otf");
}
@font-face {
  font-family: "Gilbert Color";
  src: url("../static/fonts/GilbertColor-Bold.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Black";
  src: url("../static/fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato Italic";
  src: url("../static/fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: "Lato Black Italic";
  src: url("../static/fonts/Lato-BlackItalic.ttf");
}
